body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 69px;
  position: fixed;
  z-index: 99;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
}
.navigation-links {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  width: 100%;
  /* flex-wrap: wrap; */
}

.navigation-links li {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

.navigation-links a {
  color: seashell;
}

.logo {
  height: 50px;
  margin-left: 10px;
}
.top {
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-image {
  height: 700px;
  max-width: 1200px;
  display: block;
  margin: auto;
  max-width: 100%;
}

.mission {
  top: 40%;
  text-align: center;
  background: black;
  width: 1200px;
  max-width: 100%;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-items {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-title-info,
.tea-about {
  max-width: 1000px;
}
.tea-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tea img {
  height: 200px;
  width: 300px;
  padding-right: 10px;
}

.locations-image {
  width: 1200px;
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: auto;
}

/*
.location-addresses {
  display: flex;
}

.location {
  position: relative;
}

.downtown,
.east-bayside,
.oakdale {
  position: absolute;
  top: 20%;
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  width: 15%;
  opacity: 1;
}
.locations-title {
  position: absolute;
  top: 10%;
  left: 45%;
  margin: auto;
}
.downtown {
  position: absolute;
  left: 25%;
  text-align: center;
}
.east-bayside {
  position: absolute;
  left: 42%;
  text-align: center;
}

.oakdale {
  position: absolute;
  right: 25%;
  text-align: center;
}

.footer {
  position: absolute;
  width: 100%;
  background: black;
  text-align: center;
  margin-top: 75px;
  padding-bottom: 10px;
}
.copyright {
  display: flex;
  margin-left: 20px;
} */
