body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 69px;
  position: fixed;
  z-index: 99;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
}

.navigation-links li {
  display: inline-flex;
  padding-right: 20px;
}

.navigation-links a {
  color: seashell;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  margin-left: 10px;
}
.top {
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-image {
  height: 700px;
  width: 1200px;
  display: block;
  margin: auto 0;
  max-width: 100%;
}

.mission {
  text-align: center;
  background: black;
  width: 1200px;
  max-width: 100%;
  position: absolute;
  display: block;
  margin: auto 0;
}

.tea-items {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-title-info,
.tea-about,
.tea-name {
  text-align: center;
  max-width: 1000px;
}
.tea-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tea img {
  height: 200px;
  width: 300px;
  padding-right: 10px;
}

.locations-image {
  width: 1200px;
  max-width: 100%;
  height: 500px;
  height: auto;
  margin: auto;
  display: block;
}

/* @media only screen and (min-width: 375px) and (max-height: 844px) {
  .locations-image {
    height: 900px;
  }
  .location {
    position: relative;
  }

  .locations-title {
    position: absolute;
    left: 20%;
    bottom: 108%;
  }

  .location-info {
    height: 300px;
    position: absolute;
    right: 12%;
    top: 50%;
    display: flex;
    align-items: center;
  }

  .location-addresses {
    width: ;
  }

  .downtown,
  .east-bayside,
  .oakdale {
    max-height: 100%;
    max-width: 33.3%;
  }
} */

.location {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.location-info {
  position: absolute;
  top: 75px;
  left: 84px;
}
.locations-title {
  padding-right: 40px;
}

.location-addresses {
  display: flex;
  height: 300px;
  width: 300px;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-right: 40px;
}

.downtown,
.east-bayside,
.oakdale {
  max-height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  opacity: 1;
  margin-top: 0;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 250px;
  line-height: 1.5;
}

.locations-title {
  padding-right: 40px;
  margin-bottom: 120px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 75%;
  height: 200px;
  background-color: black;
  width: 100%;
}

.copyright {
  text-align: left;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
